.form-index{
    position: absolute;
    top:15%;
}
.form-index >.field > .text-form{
    border-radius: 0px 6px;
    border: 1px solid black;
    height: 1.5em;
    background-color: #D9D9D9;
    width: 15em;
}
.form-index > .btn-form{
    background-color: #D9D9D9;   
    width: 5.375em;
    height: 2em;
    border: transparent;
    cursor: pointer;
    margin: 0 auto 0px 4.5em;
}
.form-index > p{
    text-align: center;
    text-align: center;
    width: 100%;
}
.form-index > div[class$='-feedback']{
    margin-top: 0;
    margin-bottom: 2px;
}

@media screen and (max-width: 560px) {
    .form-index{
        top: 1em;
    }
    .form-index > .btn-form{
        margin-top: 0;
    }
}
